@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewData["accessError"] != null)
{
    <p class="alert">@ViewData["error"]</p>
}
else
{
    <p class="alert"> Acces Interdit </p>
}
