@model Hotline.Models.Client

@{
    ViewData["Title"] = "Login";
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
    var success = TempData["success"] as string;

}

<link rel="stylesheet" href="~/css/login.css" />

<div class="row d-flex justify-content-center mt-5" id="login">

    <div class="col-md-4 border border-3 mt-5" id="loginform">
            <a asp-controller="Home" asp-action="Index" style="text-decoration:none">
                <h2 class="p-0 m-0 mt-1 text-danger">&#10006;</h2>
            </a>
        @if (!string.IsNullOrEmpty(success))
        {
            <h3 class="alert-success"> @success </h3>
        }
        
        <div class="d-flex justify-content-center text-secondary">
            <i class="fas fa-user-alt fa-3x"></i>
        </div>
        <h2 class="text-center text-secondary">Se Connecter</h2>
        <form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post" class="m-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mr-2 ml-2">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group mr-2 ml-2">
                <i class="fas fa-lock"></i>
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <a asp-action="forgetPassword">Mot de passe oublié</a>

            @if (!string.IsNullOrEmpty(error))
            {
                <h3 class="alert-danger"> @error </h3>
            }


            <div class="form-group mr-2 ml-2 mb-3">
                <input type="submit" value="Se Connecter" class="btn btn-primary btn-block btn-lg mt-4" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
