#intro {
    background: url("../images/introBG.jpg");
    height: 90vh;
    margin-left: 55vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness();
}

#box {
    color: white;
    width: 75vh;
    height: 36vh;
    position: absolute;
    transform: translate(15vh, 20vh);
    z-index: 9;
    opacity: 85%;
}

#introbtn {
    width:100%;
}


#circle {
    border-radius: 50%;
    background: url("../images/aboutus.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px
}

#part1 {
    background: url("../images/part1.jpg");
    width : 25vw;
    height:95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#part2 {
    background: url("../images/part2.jpg");
    width: 25vw;
    height:95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
#part3 {
    background: url("../images/part3.jpg");
    width: 25vw;
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#part1:hover {
    transform: scale(0.9);
    transition: 1s;
    filter:saturate(0.5);
}

#part2:hover {
    transform: scale(0.9);
    transition: 1s;
    filter: saturate(1.5);
}

#part3:hover {
    transform: scale(0.9);
    transition: 1s;
    filter: saturate(2);
}