#center {
    margin: auto;
    width: 50%;
    border: 1px solid;
    padding: 10px;
}

#intro {
    margin-top:200px;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness();
    max-width:100vw;
}

#box {
    color: white;
    width: 98.7vw;
    height: 23vh;
    position: absolute;
    transform: translate(0vh, 11vh);
    z-index: 9;
    opacity: 85%;
}

#introbtn {
    width: 100%;
}

#part1 {
    background: url("../images/part1.jpg");
    width: 22vw;
    height: 76vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: 1s;
}

#part2 {
    background: url("../images/part2.jpg");
    width: 22vw;
    height: 76vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: 1s;
}

#part3 {
    background: url("../images/part3.jpg");
    width: 22vw;
    height: 76vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: 1s;
}

#part1:hover {
    transform: scale(0.9);
    transition: 1s;
    filter: saturate(0);
}

#part2:hover {
    transform: scale(0.9);
    transition: 1s;
    filter: saturate(0);
}

#part3:hover {
    transform: scale(0.9);
    transition: 1s;
    filter: saturate(0);
}

#animatedpart{
    margin-bottom:200px;
}

#navbarDark{
    background-color:lightgrey !important;
}