@model Hotline.Models.Reclamation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reclamation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Numero" />
            <input type="hidden" asp-for="Description" />
            <input type="hidden" asp-for="DateAffectation" />
            <input type="hidden" asp-for="DateSoumission" />
            <input type="hidden" asp-for="Client" />
            <input type="hidden" asp-for="Domaine" />
            <input type="hidden" asp-for="Projet" />
            <input type="hidden" asp-for="Responsable" />

            <div class="form-group">
                <label asp-for="Solution" class="control-label"></label>
                <input asp-for="Solution" class="form-control" />
                <span asp-validation-for="Solution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
