@model Hotline.Models.User

@{
    ViewData["Title"] = "Edit";
    var error = TempData["Error"] as string;

}

@if (!string.IsNullOrEmpty(error))
{
    <h3 class="alert-danger "> @error </h3>
}
<div class="row p-0 border-0 mt-5" id="center">
    
<div class="col-sm-4 border p-0">
    <a class="btn btn-primary btn-block mt-0 pb-0 rounded-0 d-flex align-items-center justify-content-center" style="height:16vh" asp-action="Details" asp-route-id="@Model.Id">
        Compte
    </a>
    <button class="btn btn-light btn-block mb-0 mt-0 rounded-0" style="height:16vh" disabled>Modifier Compte</button>
    <a class="btn btn-primary btn-block mt-0 rounded-0 d-flex align-items-center justify-content-center" style="height:16vh" asp-action="EditPassword" asp-route-id="@Model.Id">
        Modifier mot de passe
    </a>

</div>
    <div class="col-sm-7 border ">
        <div class="row mt-4">
            <div class="col-md-12">
               
                <form asp-action="Edit" class="mt-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Password" />
                    <input type="hidden" asp-for="Admin" />

                    <div class="form-group">
                        <label asp-for="Login" class="control-label"></label>
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label class="control-label">Mot de passe actuel</label>
                        <input name="pwd" type="password" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Enregistrer" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

