@model Hotline.Models.Client

@{
    ViewData["Title"] = "EditPassword";
    var error = TempData["Error"] as string;
}

<h1>Edit</h1>

<h4>Client</h4>

@if (!string.IsNullOrEmpty(error))
{
    <h3 class="alert-danger"> @error </h3>
}

<div class="row">
    <div class="col-sm-2">
        <a class="btn btn-primary btn-block mt-0 pb-0 rounded-0" style="height:15vh" asp-action="Details" asp-route-id="@Model.Id">
            Compte
        </a>
        <a class="btn btn-primary btn-block mt-0 rounded-0" style="height:15vh" asp-action="Edit" asp-route-id="@Model.Id">
            Modifier Compte
        </a>
        <button class="btn btn-secondary btn-block mb-0 mt-0 rounded-0" style="height:15vh" disabled>Modifier mot de passe</button>


    </div>
    <div class="col-sm-5 border">
        <div class="row">
            <div class="col-md-5">
                <form asp-action="EditPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Password" />
                    <input type="hidden" asp-for="Login" />
                    <input type="hidden" asp-for="Email" />

                    <div class="form-group">
                        <label class="control-label">Nouveau mot de passe</label>
                        <input type="password" name="newpwd" class="form-control" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Mot de passe actuel</label>
                        <input type="password" name="oldpwd" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Index">Back to List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
